Pipfile
Pipfile.lock
.env
env.db
node_modules
frontend/dist
*.pyc
dist
__pycache__
.coverage
venv
.vscode/*
.DS_Store
/media
/static
webpack-stats.json
htmlcov/
.mypy_cache
db.sqlite3
env
Pipfile
.vercel
